@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
:root {
  /* colors list */
  --clr-white: #fff;
  --clr-black: #000;
  --font: "Poppins";
  /* Apllication colors */
  --font-clr: var(--clr-black, #000);
  --body-clr: var(--clr-white, #fff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font, "sans serif");
  font-size: 16px;
  font-weight: 300;
  color: #000;
  background-color: #fff;
}

ul li {
  list-style: none;
}

button {
  cursor: pointer;
}

header {
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
}
header h1 {
  font-size: 20px;
}
header .profile {
  margin-left: auto;
  display: flex;
  gap: 10px;
}
header .profile .img {
  height: 40px;
  width: 40px;
  background-color: #ddd;
  border-radius: 50%;
  display: grid;
  color: rebeccapurple;
  place-content: center;
  border: 1px solid rebeccapurple;
}

.container {
  max-width: 1300px;
  margin-inline: auto;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.grid {
  display: grid;
  gap: 10px;
}
.grid[data-col="2/4"] {
  grid-template-columns: 1fr 1fr;
}

.pm-btn {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}
.pm-btn:hover {
  opacity: 0.75;
}
.pm-btn:focus {
  opacity: 0.75;
}

form {
  width: 100%;
}
form label {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 10px;
}
form input:not([type=submit]) {
  height: 35px;
  width: 100%;
  padding: 14px;
  border: 1px solid #aaa;
  border-radius: 4px;
  color: #000;
  background-color: transparent;
  font-size: 16px;
  margin-bottom: 20px;
}
form input[type=submit] {
  margin-top: 40px;
  text-transform: capitalize;
  font-weight: 500;
}

main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
  height: 100vh;
  width: 100%;
  grid-template-columns: 1fr;
}

.login-box {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin-inline: auto;
  padding: 34px 40px 20px;
  margin-top: 20px;
}
.login-box form {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}
.login-box h4 {
  font-size: 14px;
  margin-top: 10px;
  font-weight: 300;
}
.login-box h4 .link {
  text-decoration: underline;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  cursor: pointer;
}

.content {
  padding: 30px;
}

footer {
  background-color: #000;
  padding: 10px;
  color: #fff;
  text-align: center;
  font-size: 12px;
}

section.todo-sec .todos-list-box .todo-options ul {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
}
section.todo-sec .todos-list-box .todo-options ul li button {
  background: #f4f4f4;
  border: none;
  padding: 8px 16px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
section.todo-sec .todos-list-box .todo-options ul li button:hover {
  background-color: #f3f3f3;
}
section.todo-sec .todos-list-box .todo-options ul li input[type=text] {
  max-width: 200px;
  height: 30px;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 3px;
  color: #000;
  font-size: 12px;
}
section.todo-sec .todos-list-box .todo-options ul li select {
  max-width: 200px;
  height: 30px;
  padding: 4px;
  border: 1px solid #aaa;
  border-radius: 3px;
  color: #000;
  font-size: 12px;
}
section.todo-sec .todos-list-box .todo-box {
  margin-top: 40px;
}
section.todo-sec .todos-list-box .todo-box h4 {
  font-size: 20px;
  margin-bottom: 20px;
}
section.todo-sec .todos-list-box .todo-box ul {
  max-height: 400px;
  height: 400px;
  padding: 10px 10px 0;
  overflow-y: scroll;
  border: 1px solid #ddd;
  border-radius: 5px;
  border-right: none;
}
section.todo-sec .todos-list-box .todo-box ul::-webkit-scrollbar {
  width: 3px;
  background-color: #eee;
}
section.todo-sec .todos-list-box .todo-box ul::-webkit-scrollbar-thumb {
  background-color: #aaa;
}
section.todo-sec .todos-list-box .todo-box ul li {
  margin-bottom: 20px;
}
section.todo-sec .todos-list-box .todo-box ul li .todo-item {
  background: #fdfdfd;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px 10px 10px 20px;
  position: relative;
}
section.todo-sec .todos-list-box .todo-box ul li .todo-item span {
  position: absolute;
  left: -3px;
  top: -6px;
  color: #fff;
  padding: 8px;
  border-radius: 5px 18px 8px 4px;
  background: blueviolet;
  font-size: 10px;
  font-weight: 500;
}
section.todo-sec .todos-list-box .todo-box ul li .todo-item h2 {
  margin-bottom: 5px;
  font-size: 20px;
  text-transform: capitalize;
}
section.todo-sec .todos-list-box .todo-box ul li .todo-item h3 {
  margin-bottom: 5px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  background-color: rgba(63, 255, 144, 0.0901960784);
  font-size: 14px;
  color: #2ac0c0;
}
section.todo-sec .todos-list-box .todo-box ul li .todo-item h4 {
  position: absolute;
  bottom: 0;
  left: 0;
  top: unset;
  margin: 0;
  padding: 4px 10px;
  font-size: 12px;
  background: rgba(95, 158, 160, 0.168627451);
  border-radius: 0px 3px 2px 3px;
  color: cadetblue;
}
section.todo-sec .todos-list-box .todo-box ul li .todo-item h6 {
  font-size: 12px;
}
section.todo-sec .todos-list-box .todo-box ul li .todo-item .options {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: end;
}
section.todo-sec .todos-list-box .todo-box ul li .todo-item .options button {
  text-transform: capitalize;
  padding: 5px 14px;
  background-color: #eee;
  border: 1px solid #ccc;
}
section.todo-sec .todo-content .todos-createbox h4 {
  font-size: 20px;
}
section.todo-sec .todo-content .todos-createbox form {
  margin-top: 10px;
}
section.todo-sec .todo-content .todos-createbox form input[type=text] {
  margin-bottom: 5px;
  font-size: 16px;
}
section.todo-sec .todo-content .todos-createbox form .select-box {
  display: flex;
  align-items: center;
  gap: 10px;
}
section.todo-sec .todo-content .todos-createbox form textarea {
  width: 100%;
  height: 90px;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 3px;
  color: #000;
  font-size: 16px;
}
section.todo-sec .todo-content .todos-createbox form input[type=submit] {
  margin-top: 10px;
  width: max-content;
  margin-left: auto;
  display: block;
}
section.todo-sec .todo-content .todos-createbox form select {
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 3px;
  color: #000;
  font-size: 12px;
  width: 100%;
  height: 40px;
}
section.todo-sec .todo-content .todos-detail-box {
  border-top: 3px solid mediumpurple;
  margin-top: 20px;
  padding-top: 16px;
  position: relative;
}
section.todo-sec .todo-content .todos-detail-box h6 {
  font-size: 20px;
  color: rebeccapurple;
  margin-bottom: 10px;
}
section.todo-sec .todo-content .todos-detail-box h3 {
  font-size: 30px;
  margin-bottom: 8px;
  text-transform: capitalize;
}
section.todo-sec .todo-content .todos-detail-box p {
  font-size: 16px;
  padding-right: 100px;
  line-height: 22px;
  margin-bottom: 10px;
}
section.todo-sec .todo-content .todos-detail-box h5 {
  font-size: 16px;
  display: flex;
  gap: 10px;
}
section.todo-sec .todo-content .todos-detail-box h5 span {
  font-size: 12px;
  line-height: 21px;
}
section.todo-sec .todo-content .todos-detail-box button {
  padding: 5px 20px;
  font-size: 15px;
  display: block;
  width: max-content;
  margin-left: auto;
}

/* Button 1 */
#button-1 .knobs:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: #f44336;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked + .knobs:before {
  content: "";
  left: 42px;
  background-color: #46f436;
}

#button-1 .checkbox:checked ~ .layer {
  background-color: #fcebeb;
}

#button-1 .knobs,
#button-1 .knobs:before,
#button-1 .layer {
  transition: 0.3s ease all;
}

#app-cover {
  display: table;
  width: 600px;
  margin: 80px auto;
  counter-reset: button-counter;
}

.toggle-button-cover {
  display: table-cell;
  position: relative;
  width: 200px;
  height: 140px;
  box-sizing: border-box;
}

.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: absolute;
  top: 42px;
  right: 0;
  width: 74px;
  height: 36px;
  margin: -20px auto 0 auto;
  overflow: hidden;
  transform: scale(0.5);
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}

.todo-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.0823529412);
  align-items: center;
}
.todo-backdrop .todo-editform {
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  width: 100%;
  transform: translateY(-20px);
  transition: all 1s ease-in-out;
}
.todo-backdrop .todo-editform h3 {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.todo-backdrop .todo-editform h3 span {
  font-weight: 400;
  font-size: 30px;
  cursor: pointer;
}
.todo-backdrop .todo-editform form {
  margin-top: 10px;
}
.todo-backdrop .todo-editform form input[type=text] {
  margin-bottom: 5px;
  font-size: 16px;
}
.todo-backdrop .todo-editform form .select-box {
  display: flex;
  align-items: center;
  gap: 10px;
}
.todo-backdrop .todo-editform form textarea {
  width: 100%;
  height: 90px;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 3px;
  color: #000;
  font-size: 16px;
}
.todo-backdrop .todo-editform form input[type=submit] {
  margin-top: 10px;
  width: max-content;
  margin-left: auto;
  display: block;
}
.todo-backdrop .todo-editform form select {
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 3px;
  color: #000;
  font-size: 12px;
  width: 100%;
  height: 40px;
}

/*# sourceMappingURL=main.css.map */
